.shimmer {
  animation: a-background-move 1.5s infinite;
  background-image: linear-gradient(to right,
      rgb(247, 247, 247),
      rgb(220, 220, 220),
      rgb(247, 247, 247));
  background-size: 200%;
  border-radius: var(--size-border-radius-base);
}

.shimmer.rounded {
  border-radius: 50%;
}

@keyframes a-background-move {
  0% {
    background-position: 100%;
  }

  100% {
    background-position: -100%;
  }
}
